%footer
	%p.pull-right
		%a(href="#") Back to top
	%p
		:markdown
			Code licensed under the 
			[GPL v2](https://www.gnu.org/licenses/gpl.txt)
			Documentation licensed under 
			[GNU Free Documentation License](https://www.gnu.org/copyleft/fdl.html)


	%p
		:markdown
			Icons from [Glyphicons Free](http://glyphicons.com), licensed under 
			[CC BY 3.0](http://creativecommons.org/licenses/by/3.0/).
