%footer
	%p.pull-right
		%a(href="#") Back to top
	%p
		:markdown
			Code licensed under the 
			[Apache License v2.0](http://www.apache.org/licenses/LICENSE-2.0)
			Documentation licensed under 
			[CC BY 3.0](http://creativecommons.org/licenses/by/3.0/).
	%p
		:markdown
			Icons from [Glyphicons Free](http://glyphicons.com), licensed under 
			[CC BY 3.0](http://creativecommons.org/licenses/by/3.0/).