!!!
%html
 %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:charset => "utf-8"}
  %title AppStrap Bootstrap Theme by Themelize.me
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  / @todo: fill with your company info or remove
  %meta{:content => "", :name => "description"}
