<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
  %h1 #{data.page.title || "MobileOrg!"}
  %p
  MobileOrg is a FREE (open-source) iPhone and iPod Touch application for storing, searching, viewing and editing your Org-mode files. MobileOrg works offline. Although you may not always be online, you can always access your data. You can even capture notes while offline and sync the next time you have connectivity.

  %h2 News
  MobileOrg has a new website!

  %p
  %a.btn.btn-primary.btn-large{:href => "https://github.com/mobileorg/mobileorg"} Learn more &raquo;
