.well
	%ul.nav.nav-list
		%li.nav-header
			List header
		%li.active 
			%a(href="#")  
				%i.icon-white.icon-home
				Home 
		%li
			%a(href="#") 
				%i.icon-book
				Library 
		%li
			%a(href="#")
				%i.icon-pencil 
				Applications
		%li.nav-header 
			Another list header
		%li
			%a(href="#")
				%i.icon-user
				Profile
		%li
			%a(href="#")
				%i.icon-cog
				Settings
		%li.divider
		%li
			%a(href="#")
				%i.icon-flag
				Help